# ===================
# Data Files
# ===================
*.npy
*.npz
*.ply
*.txt
*.pkl
*.log
*.html
*.mp4
!requirements.txt

# ===================
# Model Checkpoints
# ===================
*.pt
*.pth

# ===================
# Python Cache
# ===================
__pycache__/
*.pyc

# ===================
# Dataset
# ===================
data/
